<h3>本棚にしまった本の修正</h3>
<h4>ここでは、投稿したレビューの編集が出来ます。</h4>

<%= form_for @book do |f| %>
    <div class="field">
        <p>参考書・問題集の名前</p>
        <%= f.text_field :title, :size => 30 %>
    </div>

    <div class="field">
        <p>画像を投稿してください。</p>
        <%= f.file_field :image %>
    </div>

    <div class="field">
        <p>科目を選択してください</p>
        <%= f.select :subject, [["現代文", "現代文"], ["古文", "古文"], ["漢文", "漢文"], ["国語全般", "国語全般"], 
                                ["数学IA", "数学IA"], ["数学ⅡB", "数学ⅡB"], ["数学Ⅲ", "数学Ⅲ"], ["数学全般", "数学全般"], 
                                ["英文法", "英文法"], ["英単語", "英単語"], ["英語長文読解", "英語長文読解"], ["英語全般", "英語全般"], 
                                ["物理基礎", "物理基礎"], ["物理", "物理"], ["化学基礎", "化学基礎"], ["化学", "化学"], ["生物基礎", "生物基礎"], ["生物", "生物"], ["地学基礎", "地学基礎"], ["地学", "地学"], ["理科その他", "理科その他"], 
                                ["世界史A", "世界史A"], ["世界史B", "世界史B"], ["日本史A", "日本史A"], ["日本史B", "日本史B"], ["地理A", "地理A"], ["地理B", "地理B"], 
                                ["現代社会", "現代社会"], ["倫理", "倫理"], ["政治・経済", "政治経済"], ["倫理・政経", "倫理・政経"], ["社会その他", "社会その他"], ["その他", "その他"]], 
                                prompt: "科目を選択してください" %>
    </div>

    <div class="field">
        <p>それは誰向けの参考書または問題集ですか？</p>
        <%= f.text_field :suitable, :size => 30 %>
    </div>

    <div class="field">
        <p>レビューを書いてください</p>
        <%= f.text_area :review, size: "30x10" %>
    </div>

    <%= f.submit "修正後の本を本棚にしまう" %>
    
<% end %>
<%= button_to "削除する", book_path(@book.id), method: :delete %>